.panel {
  display: flex;
  gap: var(--space-10);
}
.line {
  width: 1px;
  height: auto;
  background-color: var(--background-color-2);
  display: "inline-block";
  margin: "0 8px";
}

.button {
  padding: var(--space-6);
  border: var(--border-1) solid var(--border-color-2);
  border-radius: var(--border-radius-6);

  &:hover {
    background-color: var(--background-color-2);
    scale: 1.03;
  }
}

.default {
  background-color: var(--background-color-3);
}

.green {
  background-color: var(--green-500);
}

.red {
  background-color: var(--red-500);
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 1;
  transition: ease-in;
}
