.layout {
  display: flex;
  justify-content: center;
}

.card {
  width: 1162px;
  height: 799px;
}
.roadmap {
  height: 100%;
  border: 1px solid var(--border-color-1);
}

.button {
  padding: var(--space-6);
  border: var(--border-1) solid var(--border-color-3);
  border-radius: var(--border-radius-6);

  &:hover {
    background-color: var(--background-color-2);
    scale: 1.03;
  }
}
