.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--space-2) var(--space-4);
}

.handles {
  display: flex;
  align-items: center;
  text-align: center;
}

.h_handles {
  display: flex;
}

.v_handles {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.active {
  color: var(--primary);
}
