.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10000;
}

.settings {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100px;
  background: var(--base-100);
  border: 1px solid var(--base-50);
  border-radius: 4px;
  z-index: 1000;
}

.header {
  display: flex;
  border-bottom: var(--border-1) solid var(--border-color-1);
  align-items: center;
  justify-content: space-between;
  font-size: 8px;
}

.title {
  color: var(--content-1);
  padding-left: var(--space-2);
}

.close {
  border: var(--border-1) solid transparent;
  border-radius: 1px;

  &:hover {
    color: var(--white);
    background-color: var(--error);
  }
}

.menu {
  display: flex;
  border-radius: 4px;
  font-size: 8px;
  flex-grow: 1;
}

.controls {
  display: flex;
  background: var(--base-200);
  flex-direction: column;
  color: var(--content-1);
  min-width: 40px;

  padding: 2px;
}

.control {
  text-align: center;
  &:hover {
    background-color: var(--base-25);
  }
}

.opened {
  background-color: var(--base-25);
}
