:root {
  --purple-1100: #0c0519;
  --purple-1000: #180931;
  --purple-900: #1e0b3e;
  --purple-800: #301262;
  --purple-700: #471b94;
  --purple-600: #5f24c5;
  --purple-500: #772df6;
  --purple-400: #9257f8;
  --purple-300: #ad81fa;
  --purple-200: #c9abfb;
  --purple-100: #e4d5fd;
  --purple-50: #f1eafe;
  --purple-25: #f8f4ff;
  --red-500: #b9212e;
  --base-300: #161616;
  --base-200: #1e1e1e;
  --base-100: #2d2d2d;
  --base-75: #535353;
  --base-50: #898989;
  --base-25: #eaeaea;
  --black: #000;
  --white: #fff;
  --primary: var(--purple-500);
  --secondary: var(--base-200);
  --tertiary: var(--base-100);
  --extra: var(--base-75);
  --content-1: var(--base-50);
  --content-2: var(--base-300);
  --border-color-1: var(--base-50);
  --border-color-2: var(--white);
  --border-color-3: var(--primary);
  --background-color-1: var(--base-100);
  --background-color-2: var(--base-50);
  --background-color-3: var(--purple-500);
  --error: var(--red-500);
}
