.input {
  text-align: center;
  border: 1px solid var(--background-color-3);
  border-radius: 4px;

  &:hover {
    border: 1px solid var(--border-color-1);
  }
  &:focus {
    border: 1px solid var(--border-color-2);
    outline: none;
  }
}

.node {
  padding-block: var(--space-12);
}
