.roadmap {
  height: 100vh;
  width: 100vw;
}

.button {
  padding: var(--space-6);
  border: var(--border-1) solid var(--border-color-3);
  border-radius: var(--border-radius-6);

  &:hover {
    background-color: var(--background-color-2);
    scale: 1.03;
  }
}
