.node {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 152px;
  height: 40px;
  border: var(--border-1) solid var(--border-color-1);
  border-radius: var(--border-radius-4);
  color: var(--white);
  background-color: var(--black);
}

.handle {
  visibility: hidden;
}
