.node {
  display: flex;
  align-items: center;
  width: 152px;
  height: 40px;
  border: var(--border-1) solid var(--border-color-1);
  border-radius: var(--border-radius-4);
  font-size: 12px;
  color: var(--white);
  background-color: var(--background-color-1);
}

.selected {
  border: var(--border-1) solid var(--border-color-3);
}

.input {
  text-align: center;
  width: 100%;
  height: 18px;
  border-radius: var(--border-radius-4);
  padding-block: var(--space-4);
  padding-inline: var(--space-4);

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--content-1);
  }
}
